* {
    box-sizing: border-box;
}

.contact-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(222, 240, 248);
}

.contact-bar div {
    padding: 10px 150px;
    font-size: .6rem;
}

header {
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 70px;
    padding: 0 40px;
    font-size: 1rem;
    text-transform: capitalize;
}

header .logo {
    font-weight: 700;
    color: rgb(3, 3, 83);
    font-size: 2rem;
}

header .menu ul {
    display: flex;
}

header .menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .menu li a {
    font-size: 1rem;
    text-decoration: none;
    padding-right: 20px;
}

header .icon .fas,
header .icon .far {
    padding: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
    cursor: pointer;
}

.hero {
    height: 70vh;
    background: grey;
    display: flex;
    justify-content: space-around;
    background: #C6FFDD;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5b3b5, #fce7b5, #e0ffed);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffb3b5, #fdeecc, #d5fce5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hero .hero__info {
    margin-top: 80px;
}

.hero .hero__info h1 {
    font-size: 4rem;
    color: rgb(3, 3, 83);
    line-height: 1.2;
    text-transform: capitalize;
}

.hero .hero__info p {
    margin-top: 40px;
    color: gray;
}

.hero .hero__info button {
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(18, 118, 248);
    border: none;
    cursor: pointer;
    color: white;
}

.hero .hero__circle {
    margin-top: 80px;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background: #FBD786;
}

.hero .hero__circle img {
    display: inline;
    height: 452px;
    width: 452px;
}

.benefit {
    margin: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #edfdf4;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.benefit .benefit-box h2 {
    color: rgb(3, 3, 83);
    font-size: 1.2rem;
}

.benefit .benefit-box .fas {
    padding-right: 10px;
    font-size: 1.8rem;
}

.benefit .benefit-box p {
    padding: 20px;
    color: gray;
    font-size: .9rem;
}

.sanitizer {
    margin: 50px 150px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.sanitizer .sanitizer-box {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sanitizer .sanitizer-box .sanitizer__img img {
    height: 100px;
    width: 100px;
}

.sanitizer .sanitizer__green {
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
}

.sanitizer .sanitizer__blue {
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.sanitizer .sanitizer__yellow {
    background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
}

.sanitizer__info h2 {
    font-size: 1.5rem;
    padding-bottom: 40px;
}

.sanitizer__info p {
    padding-bottom: 10px;
    font-size: .8rem;
}

.sanitizer__info a {
    color: white;
}